/* Styling only */
body {
  margin: 0;
}

.wrapper {
  background-color: #333333;
  color: #444;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 90vh;
}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
}

/* Layouting only  (your work)*/

.a{
  grid-column: 1 / span 3;
}
#bcde-container-box{
  grid-row-start: 2;
  grid-column: 1 / span 3;
  background-color: rgb(61, 61, 61);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#cde-container-box{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: rgb(61, 61, 61);
}
#cd-container-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: rgb(61, 61, 61);
}
.f{
  grid-column: 1 / span 3;
}
 
 